
library{
    .library-wrapper{
        width: 100%;
        display: flex;
        box-sizing: border-box;
        //height: 1000px;
    }

    .left-menu{
        position: fixed;
        
        min-width: 260px;
        top:52px;
        bottom: 0px;
        left:0px;
        // border-right-color: black;
        // border-right-style: solid;
        // border-right-width: 1px;
        box-sizing: border-box;

        background-color: #fafafa;
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
        
    }

    .right-content{
        margin-left: 260px;
        width: ~"calc(100% - 260px)";
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        
        .component{
            min-height: 400px;
            padding: 24px;

            h2{

            }
        }
    }
}

