<div id="header-desktop">
    <div id="logo-desktop"><img src="logo.png"/></div>
    <div class="nav-container">
        <div class="header-navigation-item">
            <ul>
                <li class="item" *ngFor="let item of test.navItems"><a [routerLink]="item.url" routerLinkActive="active">{{item.name}}</a></li>
            </ul>
        </div>
        <div class="github-nav">
            <gf-icon iconId="github"></gf-icon>
        </div>
    </div>
</div>

<div id="header-mobile">
    <div id="drawer" (click)="toggleDrawer()"><div [class.open]="isOpen"></div></div>
    <div id="logo-mobile"><img src="logo.png"/></div>
    <div id="side-bar" [ngClass]="isOpen ? 'open' : 'close'">
        <div id="nav-wrapper">
            <div (click)="navTo('/Library')"><a>Library</a></div>
            <div (click)="navTo('/Resume')"><a routerLink="/Resume" routerLinkActive="active">Resume</a></div>
        </div>
    </div>
    <div id="side-bar-drop-back" *ngIf="isOpen" (click)="toggleDrawer()"></div>
</div>
