<div class="footer">
    <div class="link-section">
        <div class="resource section">
            <h3>resource</h3>
            <ul>
                <li><a>Zhihu</a></li>
                <li><a>Weibo</a></li>
                <li><a>Wechat</a></li>
                <li><a>Stack Overflow</a></li>
                <li><a>Github</a></li>
            </ul>
        </div>
        <div class="me section">
            <h3>me</h3>
            <ul>
                <li><a>Report Issues</a></li>
                <li><a>Contact me</a></li>
            </ul>
        </div>
        <div class="language section">
            <h3>language</h3>
            <ul>
                <li><a>English</a></li>
                <li><a>中文版</a></li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <p>Powered by Gao Fan ©2018~. Code not licensed. Documentation not licensed.</p>
        <p>Version #20180901.1-build.01eca982</p>
    </div>
</div>