<div class="resume-container">
    <div class="profile-container">
        <img class="picture" src="gaofan.jpg" alt="Gao Fan"/>
        <div class="name">
            <p>Gao Fan</p>
        </div>
        <div class="statement">
            <div><span>Full-stack developer, interested in programming and computer science.</span></div>
            <div>Willing to learn , capable to learn. Always being prepared for the new techs.</div>
            <div>Good interpersonal and communication skills.</div>
            <div>Native Chinese Speaker, also can use English effectively.</div>  
        </div>
        <div class="personal">    
            <div class="salary">
                <div><label>Expected Salary:</label><span>5500</span></div>
                <div><label>Current Salary:</label><span>5500</span></div>
                <div><label>Notice Period:</label><span>3 month</span></div>
            </div>          
            <div class="contact">
                <div><label>Age:</label><span>27</span></div>
                <div><label>Mobile:</label><span>82993387</span></div>
                <div><label>Email:</label><span>gaofan19901103@gmail.com</span></div>
                <div><label>Address:</label><span>Bishan Str.12 Block 184, 570184</span></div>
            </div>
        </div>
    </div>
    <div class="details-container">
       <div class="education card">
          <h2>Education</h2>
          <div>
             <div><h4>Master of Science</h4></div>
             <div class="edu-tag"><img class="nus-logo" src="NUSLogo.jpg" alt="NUS"/><span>National University of Singapore - Faculty of Engineering</span></div>
          </div>
          <div>
              <div><h4>Graduate Diploma</h4></div>
              <div class="edu-tag"><img class="nus-logo" src="NUSLogo.jpg" alt="NUS"/><span>National University of Singapore - Institute of System Science</span></div>             
          </div>
          <div>
              <div><h4>Master of Engineering</h4></div>
              <div class="edu-tag"><img src="JUCLogo.jpg" alt="JUC"/><span>JiLin University</span></div>           
          </div> 
          <div>
              <h4>Bachelor of Engineering</h4>
              <div class="edu-tag"><img src="CCUTLogo.jpg" alt="CCUT"/><span>ChangChun University of Technology</span></div>           
          </div> 
       </div>
       <div class="skills card" >
            <h2>Skills</h2>
            <div class="software-engineering-methodology">
                <p>TDD,DevOps,Agile</p>
            </div>
            <div class="front-end">
                <p>Front-end framework: Angular 5</p>
            </div>
            <div lass="back-end">
                <p>Front-end framework: Angular 5</p>
            </div>
            <div lass="db">
                <p>Programming Language: object-oriented programming language (C#, Java, python, typescript), Scripts (Javascript, SQL, No-SQL, Powershell) </p>
            </div>
       </div>
       <div class="experience card">
           <h2>Experiences</h2>
           <div class="thomsons">
               <h4>Thomsons Online Benefits, Softeware Engineer: (Nov 2015 - present)</h4>
               <p>
                   •	Benefit platform, Darwin (Thomsons main product) Thomsons is a UK company with a multi-nation working environment. I am working as a sofeware enginner in the tech team, there is only one product called Darwin in this company, Darwin is an Agile based project, my main responsibility is to take stories from the task backlog. These tasks includes fixing bugs, implementing functionalities, and adding new features. And I am working on both back-end and front-end. Sometimes even help DevOps and QAs to do some jobs.   
               </p>
           </div>
           <div class="Combuilder">
               <h4>Combuilder Pte Ltd, Intern :  (April 2015 –  Sep 2015)</h4>
               <p>
                   •	Indoor Tracking System (Combuilder R&D project)Designed and developed an Indoor Tracking System in a team of 2. The System include mobile, .Net server and web pages , which can be used to manage and track the precise location of  users based on Wifi. Mainly responsible for back-end server, web pages, and database.
               </p>
           </div>
           <div class="NUS">
               <h4>NUS projects, student :  (August 2014  –  April 2015)</h4>
               <p>
                   US projects, student :  (August 2014  –  April 2015)
                •	Stationary Management System (school project) Developed a Stationary Management System including Android App and Web Pages in a team of 4. Mainly in charge of WCF part, also implement some functions in Android
               </p>
           </div>
       </div>
    </div>
</div>