@import (reference) "../../app/variables.less";

resume{
   .resume-container{
       height: 100%;
       display: flex;
       flex-direction: row;
       padding-top: 12px;
       box-sizing: border-box;

       @media (max-width: @mobile-max-width) {
           flex-direction: column;        
       }
        

       .profile-container{
           height: 100%;
           width: 25%;
           display: flex;
           flex-direction: column; 
           align-items: center;
           //border-right: 1px solid #616566;
           box-sizing: border-box;
           font-size: 0.9em;

           @media (max-width: @mobile-max-width) {
              width: 100%;  
              font-size: 0.8em;
              margin-bottom: 24px;
           }

           .picture{
               width: 70%;
           }

           .name{
               font-weight: 800;
               width: 70%;
           }

           .statement{
                width: 80%;
                //font-size: 0.9em;
                font-weight: normal;
                font-family: cursive;
                margin-bottom: 32px;

                // @media (max-width: @mobile-max-width) {
                //   font-size: 0.8em;  
                // }

                div{
                    margin-bottom: 6px;
                }
           }

           .personal{
                width: 80%;
                // font-size: 0.9em;
                // @media (max-width: @mobile-max-width) {
                //   font-size: 0.8em;  
                // }
                
                div{
                   margin-bottom: 6px;

                   label{
                     font-weight: 600;
                     margin-right: 4px;
                   }

                   span{
                       font-weight: 400px;
                   }
                }

                .salary{
                    margin-bottom: 16px;
                }

                .contact{

                }
           }
       }
     
       .details-container{
           position: relative;
           height: 100%;
           width: 75%;
           display: flex;
           flex-direction: column;
           padding: 0px 20px;
           box-sizing: border-box;
           
           @media (max-width: @mobile-max-width) {
              width: 100%;  
           }

           .education{
                width: 100%;
                padding: 24px;
                margin-bottom: 12px;
                box-sizing: border-box;

                .edu-tag{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    
                    img{
                        height: 30px;
                        width: 30px;
                        margin-right: 8px;

                        &.nus-logo{
                            height: 25px;
                            width: 48px;
                        }
                    }
                }
           }

           .skills{
                width: 100%;
                padding: 24px;
                margin-bottom: 12px;
                box-sizing: border-box;
           }

           .experience{
                width: 100%;
                padding: 24px;
                margin-bottom: 12px;
                box-sizing: border-box;
           }
       }
   }

   .card{
       background-color: #ffffff;
       box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);       
       border-radius: 3px;
   } 
}