<div class="resume-container">
    <div class="profile-container">
        <img class="picture" src="gaofan.jpg" alt="Gao Fan"/>
        <div class="name">
            <p>Gao Fan</p>
        </div>
        <div class="statement">
            <div><span>Full-stack developer, interested in programming and computer science.</span></div>
            <div>Willing to learn , capable to learn. Always being prepared for the new techs.</div>
            <div>Good interpersonal and communication skills.</div>
            <div>Native Chinese Speaker, also can use English effectively.</div>  
        </div>
        <div class="personal">    
            <div class="salary">
                <div><label>Expected Salary:</label><span>5500</span></div>
                <div><label>Current Salary:</label><span>5500</span></div>
                <div><label>Notice Period:</label><span>3 month</span></div>
            </div>          
            <div class="contact">
                <div><label>Age:</label><span>27</span></div>
                <div><label>Mobile:</label><span>82993387</span></div>
                <div><label>Email:</label><span>gaofan19901103@gmail.com</span></div>
                <div><label>Address:</label><span>Bishan Str.12 Block 184, 570184</span></div>
            </div>
        </div>
    </div>
    <div class="details-container">
       <div class="education card">
          <div class="card-tag"><h2>Education</h2><gf-icon iconId="education"></gf-icon></div>
          <div class="card-content">
            <div class="education-content">
                <div class="degree"><span class="name">Master Degree in System Design & Manangement</span><span class="credit">(part-time student) </span></div>
                <div class="school"><img class="nus-logo" src="NUSLogo.jpg" alt="NUS"/><span>National University of Singapore - Faculty of Engineering  (August 2016 – July 2018)</span></div>
            </div>
            <div class="education-content">
                <div class="degree"><span class="name">Post Graduate Diploma in System Analysis</span><span class="credit">(GPA above 4.0)</span></div>
                <div class="school"><img class="nus-logo" src="NUSLogo.jpg" alt="NUS"/><span>National University of Singapore - Institute of System Science  (August 2014 – September 2015)</span></div>             
            </div>
            <div class="education-content">
                <div class="degree"><span class="name">Master Degree in Automatic Control</span><span class="credit">(Dropped out first year)</span></div>
                <div class="school"><img src="JUCLogo.jpg" alt="JUC"/><span>JiLin University  (August 2013 – June 2014)</span></div>           
            </div> 
            <div class="education-content">
                <div class="degree"><span class="name">Bachelor of Electrical and Electronic Engineering</span><span class="credit">(Top 10% ranking)</span></div>
                <div class="school"><img src="CCUTLogo.jpg" alt="CCUT"/><span>ChangChun University of Technology  (August 2009 – July 2013 )</span></div>           
            </div> 
          </div>
       </div>
       <div class="skills card" >
            <div class="card-tag"><h2>Skills</h2><gf-icon iconId="tool"></gf-icon></div>
            <div class="card-content">
                <div class="software-engineering">
                    <label>Sofeware Engineering : </label><span>Agile, TDD, DevOps, Service-Oriented, CI, CD, design patterns, tech management, knowledge management.</span>
                </div>
                <div class="back-end">
                    <label>Back-end : </label><span>C#, .NET Mvc, Web API, WCF, Node.js, also can pick up other object-oriented programming languages quickly.</span>
                </div>
                <div lass="front-end">
                    <label>Front-end : </label><span>Javascript, Typescript, Angular, JS Module System, Gulp, NPM, Webpack, Less, Resposive design, Build and Automation Tools.</span>
                </div>
                <div lass="db">
                    <label>DB : </label><span>SQL, NO-SQL, MS Sql, MongoDB.</span>
                </div>
                <div lass="other-tool">
                    <label>Other Tools : </label><span>Git, JIRA, VSTS, TFS, Azure, Ocotpus Deploy, Jenkins.</span>
                </div>
                <div lass="interested-in">
                    <label>Interested In : </label><span>React, ReactNative, Vue, Selenium, AI-related stuff. </span>
                </div>
            </div>
       </div>
       <div class="experience card">
            <div class="card-tag"><h2>Experience</h2><gf-icon iconId="skill"></gf-icon></div>
            <div class="card-content">
                <div class="thomsons company">
                    <div><span class="company-name">Thomsons Online Benefits,</span><span class="role">Softeware Engineer</span><span class="tenure">(Oct 2015 - Present)</span></div>
                    <h5>•	Benefit Management platform, Darwin (Thomsons main product)</h5>
                    <p>
                        Thomsons is a UK company with a multi-nation working environment. I am working as a sofeware enginner in the tech team, there is only one product called Darwin in this company, Darwin is an Agile based project, my main responsibility is to take stories from the tasks backlog. These tasks include fixing bugs, implementing functionalities, adding new features, code refactoring, and enhancement. I’m working on both back-end and front-end. Sometimes even help DevOps and QAs to do some jobs. 
                    </p>
                    <div class="contribution">
                        <p>Main Contribution:</p>
                        <ul>
                            <li>Fixed the most number of bugs in the first year as a new joiner.  </li>
                            <li>Came up with the creative idea of an import module in Darwin. Also paticipated in the module development with an architect and a senior. (a reporting system)</li>
                            <li>Independantly developed another few fuctionalities and modules.(those involved both front-end and back-end)</li>
                            <li>Helped the team to move to a new front-end framework (Angular). </li>
                        </ul>
                    </div>
                </div>
                <div class="Combuilder company">
                    <div><span class="company-name">Combuilder Pte Ltd,</span><span class="role">Intern</span><span class="tenure">(May 2015 – Sep 2015)</span></div>
                    <h5>•	Indoor Tracking System (Combuilder R&D project)</h5>
                    <p>
                       Designed and developed an Indoor Tracking System in a team of 4. The System includes mobile, .Net server and web pages , which can be used to manage and track the precise location of  users based on Wifi. Mainly responsible for back-end server, web pages, and database.
                    </p>
                    <div class="contribution">
                        <p>Main Contribution:</p>
                        <ul>
                            <li>Researched on the locating algorithm and converted it into code.</li>
                            <li>Design DB structures and developed most of the APIs for the mobile clients.</li>
                            <li>Actively encouraged, participated, lead the small team to move forward.</li>
                        </ul>
                    </div>
                </div>
                <div class="NUS company">
                    <div><span class="company-name">NUS projects,</span><span class="role">Student</span><span class="tenure">(August 2014 – April 2015)</span></div>
                    <h5>•	Stationary Management System (school project)</h5>
                    <p>
                        Developed a Stationary Management System including Android App and Web Pages in a team of 6. Mainly in charge of WCF part, also implement some functions in Android. 
                    </p>
                     <div class="contribution">
                        <ul>
                            <li>This is just a small project when I was in school, however I really enjoyed the 2-month learning, progressing with my small team.</li>
                        </ul>
                    </div>
                </div>
           </div>
       </div>
    </div>
</div>