<div class="resume-container">
    <div class="profile-container">
        <img class="picture" src="paris.jpg" alt="Gao Fan"/>
        <div class="name"><span></span></div>
        <div class="description"><span></span></div>
        <div>
            <p></p>
            <p></p>  
            <p></p>
        </div>
    </div>
    <div class="details-container">
       <div class="education">
          <!-- <div class="edu-tag"><img class="picture" src="NUSLogo.jpg" alt="NUS"/><span>National University of Singapore</span></div>
          <div class="edu-tag"><img class="picture" src="JUCLogo.jpg" alt="JUC"/><span>JiLin University</span></div>
          <div class="edu-tag"><img class="picture" src="CCUTLogo.jpg" alt="CCUT"/><span>ChangChun University of Technology</span></div> -->
       </div>
        <button (click)='testmethod(skill)'>Test</button>
       <div class="skills" #skill>

       </div>
       <div class="experience">
           
       </div>
    </div>
</div>