<div id="hero">
    <div class="background"></div>
    <div class="hero-image">
        <img src="logo.png"/>
        <div class="text">
            Gao Fan's personal website. 
            <br>
            Code & Life.
        </div>
    </div>
</div>
<div id="resume-link-card">
    <div class="resume-link-wrapper card">
        <gf-icon iconId="resume"></gf-icon>
        <p>You are only interested in my Resume</p>
        <a>View Resume</a>  
    </div>
</div>
<hr/>
<div class="row">
    <div class="row-wrapper">
        <div class="js-card-container half">
            <div class="js-card-content card">
                <gf-icon iconId="js"></gf-icon>
                <div class="js-card-text">
                    <p class="title">Angular Library</p>
                    <span class="description">I am tring to build different components that I can reuse. For learning purpose.</span>
                </div>
            </div>  
        </div>
        <div class="js-text-container half">
            <div class="js-text-content">
                <div class="text-title">Angular & Typescript</div>
                <p>Create some basic web components using the Angular way. And also try to convert them into typescript version later. </p>
                <p>This is for the purpose of learning Angular, and also re-invent the wheels for learning logic in the components. These components I would also be able to resue in different projects.</p>
            </div>      
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="row-wrapper">
        <div class="js-text-container half">
            <div class="js-text-content">
                <div class="text-title">CSS</div>
                <p>I learn css triks, effects from different resources, and put them all here, CSS is powerful, I enjoy learning them.</p>
                <p>It is easy to get an answer from Google or someone's blog but also easy to forget them, I hope this CSS library will help me to peresist them.</p>
            </div>      
        </div>
        <div class="js-card-container half">
                <div class="js-card-content card">
                    <gf-icon iconId="css"></gf-icon>
                    <div class="js-card-text">
                        <p class="title">Go to Library</p>
                        <span class="description">Put powerful CSS effects together is an intersting thing.</span>
                    </div>
                </div>  
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="row-wrapper">
        <div class="gallery-container half">
            <div class="card">
                <img src="gallery.jpg"/>
            </div>  
        </div>
        <div class="js-text-container half">
            <div class="js-text-content">
                <div class="text-title">GF & WNN</div>
                <p>Let's put some memories here, this is a photo gallery.</p>
                <p>Let's take advantage of the knowlege that a programmer possesses.</p>
            </div>      
        </div>
    </div>
</div>

