<div id="hero">
    <div class="background"></div>
    <div class="hero-image">
        <img src="logo.png"/>
        <div class="text">
            Gao Fan's personal website. 
            <br>
            Code & Life.
        </div>
    </div>
</div>
<div id="resume-link-card">
    <img/>
    <p>You are only interested in my Resume</p>
    <a>View the Resume</a>
</div>
<div class="card">
    <gf-icon iconId="js"></gf-icon>
    <div>
        <p class="title">Go to Library</p>
        <span class="content">I am tring to build different components that I can reuse. For learning purpose.</span>
    </div>
</div>
<div style="height:2500px;width:20px;"></div>
<p>asd;flkjasl</p>